.filter {
  margin: 50px 0;
  padding: 15px 0;
  align-items: center;
  background-color: #fff;
}

.filter .row .col-md-6 .cont {
  display: flex;
  align-items: center;
  gap: 30px;
}
.filter .row .col-md-6 .cont p {
  padding-top: 15px;
}
.filter .row .col-md-6 .cont select {
  padding: 17px 20px;
  border-radius: 8px;
  margin-right: 50px;
  cursor: pointer;

  outline: none;
  background-color: #b3b3f831;
  text-transform: capitalize;
  border: 1px solid #007594;
}
.filter .row .col-md-6:last-child {
  display: flex;
  align-items: center;
  justify-content: right;
}
.filter .row .col-md-6:last-child svg {
  font-size: 30px;
  margin-left: 15px;
  color: #007594;
  cursor: pointer;
}
.products-container {
  margin-bottom: 40px;
}
.products-container .col-md-3 {
  background-color: #ffff;
  height: fit-content;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.products-container .head {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  color: #007594;
  cursor: pointer;
}
.products-container .head svg {
  font-size: 20px;
  margin-top: 5px;
}
.products-container .head p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
.products-container ul {
  padding: 0;
}
.products-container ul li {
  list-style: none;
  padding: 5px 10px;
  display: block;
}
.products-container ul li input[type="checkbox"] {
  border-radius: 10px;
  display: inline-block;
}
.products-container ul .content {
  display: flex;
  gap: 15px;
  align-items: center;
}
.products-container ul .content label {
  font-size: 10px;
}
.products-container ul .content input[type="number"] {
  display: block;
  width: 80%;
}

.products-container .row .col-md-8 {
  background-color: #f3f3f3;
  flex-grow: 1;
  webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.products-container .row .col-md-4 {
  padding-left: 0 !important;
  padding-right: 10px !important;
}
@media (max-width: 766px) {
  .products-container .col-md-3.links {
    display: none;
  }
}
.card-product {
  background: #fff;
  margin-top: 10px;
  border-radius: 10px;
  height: 330px !important;
  text-align: center;

  transition: all 0.4s ease-in-out;
}
.card-product:hover {
  transform: scale(1.1);
  border: 1px solid #007594;
  z-index: 1;
}

.card-product .product-title a img {
  width: 38%;
  height: 180px;
  max-width: 100%;
  object-fit: contain;
  border-radius: 8px;
}
.card-product:hover .product-title a img {
  opacity: 0.5;
}
.card-product .product-title h3 {
  font-weight: 600;
  font-size: 12px;
}

.card-product .product-desc .rating {
  display: block;
  margin: 20px 0;
}

.card-product .product-desc .rating p svg {
  font-size: 15px;
  color: #ddd;
}
.card-product .product-desc .rating .price {
  font-size: 16px;
  font-weight: bold;
  color: #0074d9;
}
.pagination {
  display: flex;
  align-items: center;
  width: 100% !important;
  justify-content: center;
  gap: 5px;
  margin: 20px 0;
  padding: 10px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.pagination button,
.pagination span {
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background: transparent;
  color: #333;
}

.pagination .page-number {
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  background: transparent;
  color: #333;
  text-decoration: none;
}

.pagination .page-number.active {
  background: #005f79;
  color: white;
  font-weight: bold;
}

.pagination .dots {
  pointer-events: none;
  color: #555;
}

.pagination button {
  background: #f0f0f0;
  border-radius: 5px;
}

.pagination button:hover {
  background: #005f79;
  color: white;
  font-weight: bold;
}
